.errorHandler {
    background-color: rgb(1, 6, 17);
    min-width: 100%;
    min-height: 100%;
    position: fixed; 
    padding-top: 20rem;
    color: rgb(72, 156, 209);
    text-align: center;
}

.errorHandler h1 {
    font-size: 50px;
}

.errorHandler h2 {
    font-size: 30px;
}