@use 'base';

div.footer-start {
    background: linear-gradient(#071829, #0e161c);
    background-color: #071829; // Old browsers
}

.footer {
    padding: 160px 4em 96px 4em !important;

    h2 {
        // line-height:1.2em;
        height: 3.6em;
        font-weight: 300;
        font-size: 28px;
    }

    p {
        line-height:1.6em;
        font-size: 15px;
        overflow:hidden;
        margin-bottom: 5em;
    }

    .element {
        text-align: center;
        width: 100%;
        margin: 0 auto;

        @mixin image {
            background-position: center;
            background-repeat: no-repeat;
            height: 9em;
            margin: 15px;
        }
        .outsourcing {
            @include image;
            background-image: url('../yuma_website_assets/ASSETS_converted/bottomImage1.webp');
        }
        .custom {
            @include image;
            background-image: url('../yuma_website_assets/ASSETS_converted/bottomImage2.webp');
        }
        .migrations-footer-home {
            @include image;
            background-image: url('../yuma_website_assets/ASSETS_converted/bottomImage3.webp');
        }
    }

    .column {
        padding: 0 2rem !important;
    }
}

.no-webp .footer {
    .element {
        @mixin image {
            background-position: center;
            background-repeat: no-repeat;
            height: 9em;
            margin: 15px;
        }
        .outsourcing {
            @include image;
            background-image: url('../yuma_website_assets/ASSETS/bottomImage1.png');
        }
        .custom {
            @include image;
            background-image: url('../yuma_website_assets/ASSETS/bottomImage2.png');
        }
        .migrations-footer-home {
            @include image;
            background-image: url('../yuma_website_assets/ASSETS/bottomImage3.png');
        }
    }
}

@media screen and (max-width: base.$computerBreakpoint) {
    .footer {
        padding: 120px 1em 0px 1em !important;
        h2 {
            height: auto;
        }
        .element {
            @mixin image {
                margin-top: 80px;
                margin-bottom: 80px;
            }
            margin-bottom: 80px;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        h2 {
            font-size: 7vw;
        }
    }
}

@media screen and (min-width: base.$computerBreakpoint) and (max-width: 1200px) {
    .footer {

        .column {
            min-width: 33%;
        }

        h2 {
            font-size: 2.4vw;
            height: 5em;
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1653px) {
    .footer {

        .column {
            min-width: 29%;
        }

        h2 {
            height: 5em;
        }
    }
}