@use 'base';

.homepage-software {
    background-color: white;
    padding-top: 160px !important;
    padding-bottom: 160px !important;

    h1, h2 {
        margin-bottom: 0px;
        color: base.$navy;
        font-size: 64px;
        font-weight: 800;
    }

    h3 {
        margin-top: 0px;
        padding-bottom: 42px;
        color: base.$navy;
        font-weight: 500;
        font-size: 2rem;
    }

    p {
        color: base.$dark-grey;
        font-weight: 500;
        width: 30rem;
    }

    .logo {
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: base.$computerBreakpoint) {
    .homepage-software {

        h2 {
            font-size: 38px;
            text-align: center;
            margin: auto;
        }
    
        h3 {
            text-align: center!important;
            color: base.$dark-blue-grey;
            margin: auto;
        }

        p {
            text-align: center;
            margin: 0 auto;
            width: 75%;
        }
    }
}